@model Days

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

}

<div class="container">
    <div class="container">
        <a type="button" style="color: azure" class="btn btn-secondary" asp-action="ResetToPage">Assignment Againe</a>
    </div>
    <div class="row col-md-12">

        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                1. Day
            </div>
            @for (int i = 0; i < 6; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>

        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                2. Day
            </div>
            @for (int i = 6; i < 12; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>


        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                3. Day
            </div>
            @for (int i = 12; i < 18; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>

        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                4. Day
            </div>
            @for (int i = 18; i < 24; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>


        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                5. Day
            </div>
            @for (int i = 24; i < 30; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>

        <div class="card border-primary col-md-4 p-0 m-2">
            <div class="card-header  border-light text-center">
                6. Day
            </div>
            @for (int i = 30; i < 36; i++)
            {
                <div class="card-body  m-0">
                    <div class="input-group p-0 m-0">
                        <div class="input-group-prepend mr-2 col-md-5 ">
                            <span class="input-group-text ">@Model.EmployeesJobs[i].Employees.FirstName @Model.EmployeesJobs[i].Employees.LastName</span>
                        </div>
                        <input type="text" class="form-control col-md-7 ml-2" disabled aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="@Model.EmployeesJobs[i].Jobs.Name - Difficulty: @Model.EmployeesJobs[i].Jobs.Difficulty">
                    </div>

                </div>
            }
        </div>


    </div>
</div>
